node_modules/
dist/
build/
.env
.env.*
coverage/
logs/
*.log

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Caché y dependencias de la app móvil
mobile/.angular/
mobile/node_modules/
mobile/www/
mobile/android/
mobile/ios/
mobile/.sourcemaps/

# Por si acaso, a nivel general
**/.angular/cache/
**/node_modules/